In [ ]:
# @title 1 . marks analyzer

In [1]:
import numpy as np

n = int(input("Enter number of students: "))

marks_list = []

for i in range(n):
    print("Enter marks of student", i + 1)
    marks = int(input())
    marks_list.append(marks)

marks_array = np.array(marks_list)  # converting list to NumPy array

total_marks = np.sum(marks_array)
average_marks = np.mean(marks_array)
highest_marks = np.max(marks_array)
lowest_marks = np.min(marks_array)

if average_marks > 85:
    grade = "A"
elif average_marks >= 70:
    grade = "B"
elif average_marks >= 50:
    grade = "C"
else:
    grade = "Fail"

print("\n--- Student Marks Analysis ---")
print("Total Marks:", total_marks)
print("Average Marks:", average_marks)
print("Highest Marks:", highest_marks)
print("Lowest Marks:", lowest_marks)
print("Grade:", grade)

Enter number of students: 10
Enter marks of student 1
50
Enter marks of student 2
96
Enter marks of student 3
84
Enter marks of student 4
58
Enter marks of student 5
67
Enter marks of student 6
75
Enter marks of student 7
44
Enter marks of student 8
87
Enter marks of student 9
93
Enter marks of student 10
54

--- Student Marks Analysis ---
Total Marks: 708
Average Marks: 70.8
Highest Marks: 96
Lowest Marks: 44
Grade: B

In [ ]:
# @title 2 . daily expnesess

In [ ]:
import numpy as np


days = int(input("Enter number of days: "))

expense_list = []

for i in range(days):
    day = i + 1

    expense_input = input("Enter expense for day: ")
    expense = float(expense_input)

    expense_list.append(expense)


expense_array = np.array(expense_list)

total_expense = np.sum(expense_array)
average_expense = np.mean(expense_array)
highest_expense = np.max(expense_array)


print("\n--- Daily Expense Summary ---")
print("Total Expense:", total_expense)
print("Average Expense:", average_expense)
print("Highest Expense:", highest_expense)

Enter number of days: 5
Enter expense for day: 120
Enter expense for day: 500
Enter expense for day: 300
Enter expense for day: 200
Enter expense for day: 400

--- Daily Expense Summary ---
Total Expense: 1520.0
Average Expense: 304.0
Highest Expense: 500.0